* {
    padding:0;
    margin:0;
}
body {	background-image: url(../img/homebg.png);	}
.wrapper{
	width: 980px;
	margin: 0 auto;
}
#content {	width: 100%;	}
#header {	width: 100%;	}
#header #logo{	width: 180px; height: 180px; vertical-align: middle;	}
#header ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
#header ul li{	float:left;	}
#header ul li a.header-link{
	display: block;
	float: left;
	height: 18px;
	background-image: url(../img/headerlinks.png);
	text-indent: -9999px;
	margin: 81px 50px;
}
#header ul li a#service{		width: 112px;	background-position: 0 0;	}
#header ul li a#service:hover{	background-position: 0 -18px;	}
#header ul li a#folio{			width: 72px;	background-position: -120px 0;	}
#header ul li a#folio:hover{	background-position: -120px -18px;	}
#header ul li a#blog{			width: 70px;	background-position: -199px 0;	}
#header ul li a#blog:hover{	background-position: -199px -18px;	}
#header ul li a#contact{		width: 120px;	background-position: -279px 0;	}
#header ul li a#contact:hover{	background-position: -279px -18px;	}

#content #home-body{
	width: 644px;
	height: 394px;
	margin: 0 auto;
	background-image: url(../img/homebody.png);
}
#content .separator-1{
	width: 965px;
	height: 8px;
	margin: 0 auto;
	background-image: url(../img/separator-1.png);
}
#content div p#quote{
	font: 18px Century Gothic, Sans-Serif;
	color: #62676c;
	text-align: center;
}

#content div p#author{
	font: 18px Monotype Corsiva, Sans-Serif;
	color: #8c8c8c;
	text-align: center;
	text-indent: 30%;
}

#content #features{
	margin-top: 22px;
	background-image: url(../img/featuresbg.png);
	position: absolute;
	left: 0;
	width: 100%;
	height: 241px;
}

#content #features img{
	width: 866px;
	margin: 1em auto;
}

#content #features p{
	width: 980px;
	margin: 0 auto;
	text-align: right;
}

#content #features p a{
	text-decoration:none;
	font: 18px Century Gothic, Sans-Serif;
	color: #117bca;
}

#content #about-me{
	margin-top: 285px;
	width: 100%;
	background-color: white;
	position: absolute;
	left: 0;
}

#content #about-me #info{
	width: 980px;
	margin: 0 auto;
	padding: 72px 22px;
}
#content #about-me .summary1{
	font: 24px Century Gothic, Sans-Serif;
	color: #62676c;
	margin-left: 110px;
	float: left;
}

#content #about-me p:nth-child(2).summary1{
	width: 500px;
	margin: 50px 0 0 130px;
	text-align: center;
	clear: both;
}

#content #about-me img{
	float: right;
}
#about-me #summary-div{
	clear: both;
	width: 470px;
	margin-left: 110px;
	float: left;
}
#about-me .summary2, #site-links p{
	font: 15px Century Gothic, Sans-Serif;
	color: #62676c;
	margin-bottom: 18px;
	line-height:200%;
}
#about-me #download{
	width: 234px;
	height: 76px;
	margin: 30px auto;
}

#about-me #site-links{
	width: 310px;
	float: right;
}
.left{
	float: left;
}

.right{
	float: right;
}

#site-links div{
	width: 241px;
	height: 199px;
}
#site-links div div{
	width: 99px;
	height: 199px;
	margin: 0 0 10px 10px;
}

#site-links .sn-icon{
	background-image: url(../img/social-buttons.png);
	background-repeat: no-repeat;
	width: 97px;
	height: 31px;
}
#site-links .sn-icon:hover{
	-moz-box-shadow: 0 0 10px #777;
	-webkit-box-shadow: 0 0 10px #777;
	box-shadow: 0 0 10px #777;
	background-color: #d3d3d3; 
}

#site-links  #facebook{	background-position: 0 0;	}
#site-links  #twitter{	background-position: 0 -42px;	}
#site-links  #pinterest{	background-position: 0 -84px;	}
#site-links  #skype{	background-position: 0 -124px;	}
#site-links  #dribble{	background-position: 0 -167px;	}

#site-links  #linkedin{	background-position: -144px 0;	}
#site-links  #googleplus{	background-position: -144px -42px;	}
#site-links  #youtube{	background-position: -144px -84px;	}
#site-links  #behance{	background-position: -144px -124px;	}
#site-links  #email{	background-position: -144px -167px;	}
	
